<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlk.dao.HistoryBeanMapper">
  <resultMap id="BaseResultMap" type="com.zlk.bean.HistoryBean">
    <id column="h_id" jdbcType="INTEGER" property="hId" />
    <result column="house_name" jdbcType="VARCHAR" property="houseName" />
    <result column="a_name" jdbcType="VARCHAR" property="aName" />
    <result column="p_name" jdbcType="VARCHAR" property="pName" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="house_img" jdbcType="VARCHAR" property="houseImg" />
  </resultMap>
  <sql id="Base_Column_List">
    h_id, house_name, a_name, p_name, price, house_img
  </sql>
    <select id="selectByName" parameterType="com.zlk.bean.HistoryBean" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from history
        where h_id = #{hId,jdbcType=VARCHAR}
    </select>
    <select id="selectByHouseName" parameterType="com.zlk.bean.HistoryBean" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from history
        where house_name = #{houseName,jdbcType=VARCHAR}
    </select>
  <select id="selectForA" parameterType="com.zlk.bean.HistoryBean" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from history
    where a_name = #{aName,jdbcType=VARCHAR}
  </select>
    <select id="selectForP" parameterType="com.zlk.bean.HistoryBean" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from history
        where p_name = #{pName,jdbcType=VARCHAR}
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from history
    where h_id = #{hId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zlk.bean.HistoryBean">
    insert into history (h_id, house_name, a_name, 
      p_name, price, house_img
      )
    values (#{hId,jdbcType=INTEGER}, #{houseName,jdbcType=VARCHAR}, #{aName,jdbcType=VARCHAR}, 
      #{pName,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{houseImg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zlk.bean.HistoryBean">
    insert into history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hId != null">
        h_id,
      </if>
      <if test="houseName != null">
        house_name,
      </if>
      <if test="aName != null">
        a_name,
      </if>
      <if test="pName != null">
        p_name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="houseImg != null">
        house_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hId != null">
        #{hId,jdbcType=INTEGER},
      </if>
      <if test="houseName != null">
        #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="aName != null">
        #{aName,jdbcType=VARCHAR},
      </if>
      <if test="pName != null">
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="houseImg != null">
        #{houseImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zlk.bean.HistoryBean">
    update history
    <set>
      <if test="houseName != null">
        house_name = #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="aName != null">
        a_name = #{aName,jdbcType=VARCHAR},
      </if>
      <if test="pName != null">
        p_name = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="houseImg != null">
        house_img = #{houseImg,jdbcType=VARCHAR},
      </if>
    </set>
    where h_id = #{hId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zlk.bean.HistoryBean">
    update history
    set house_name = #{houseName,jdbcType=VARCHAR},
      a_name = #{aName,jdbcType=VARCHAR},
      p_name = #{pName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      house_img = #{houseImg,jdbcType=VARCHAR}
    where h_id = #{hId,jdbcType=INTEGER}
  </update>
</mapper>